body {
    background-color: gray;
    text-align: center;
}

main {
    margin: auto;
    width: 810px;
    height: 1024px;
    padding: 20px;
    background-color: white;
    font-family: Calibri, 'Trebuchet MS', 'Gill Sans', 'Gill Sans MT', sans-serif;
    font-size: 0.95em;
}

header {
    border: solid 3px gray;
    border-style: inset;
    position: relative;
}

header h1 {
    font-weight: 100;
    text-transform: uppercase;
    font-size: 3.3em;
    margin-top: 20px;
}

.target-title {
    position: absolute;
    background-color: dimgray;
    width: fit-content;
    color: white;
    text-transform: uppercase;
    bottom: -24px;
    padding: 10px;
    margin: 0 auto;
    right: 0;
    left: 0;
}

.objective-contact-row{
    padding-top: 20px;
    margin-bottom: 20px;
}

.objective-contact-row h3 {
    font-size: 1.6em;
    max-width: fit-content;
    padding: 5px 20px ;
    margin: 18px auto 16px auto;
    border-bottom: solid 2px dimgray;
}

.objective {
    width: 57%;
    display: inline-block;
    margin-right: 8%;
}

.objective p {
    margin-top: 0;
}

.contact {
    float: right;
    text-align: left;
    width: 35%;
    clear: both;
}

.contact .email,.phone,.address {
    margin: 6px;
}

.contact div {
    overflow: hidden;
}

.contact .fa {
    width: 24px;
    float: left;
}

.education-skills-row {
    margin: auto;
}

.education-skills-row h3 {
    font-size: 1.6em;
    font-weight: 400;
    max-width: 90%;
    padding: 5px 20px ;
    background-color: dimgray;
}

.education-skills-row p {
    margin: auto;
    margin: 2px;
}

.education h3 {
    color: white;
    margin-top: 0;
    margin-bottom: 0;
}

.skills h3 {
    color: white;
    margin-top: 0;
    margin-bottom: 0;
}

.education {
    width: 47%;
    float: left;
    padding-right: 20px;
    border-right: solid 2px dimgray;
}

.skills {
    width: 47%;
    display: inline-block;
    padding-left: 16px;
}

.education h4 {
    text-transform: uppercase;
    margin: 4px;
}

.education p {
    font-style: italic;
}

.experience h3 {
    font-size: 1.6em;
    padding: 5px 20px ;
    margin: 18px auto 16px auto;
    border-bottom: solid 2px dimgray;
}

.experience .date-range {
    font-weight: bold;
    text-align: left;
    float: left;
    border-bottom: solid 2px dimgray;
    width: 22%;
}

.job-history-entry {
    overflow: hidden;
    text-align: left;
    margin-left: auto;
    width: 73%
}

.job-history-entry h4 {
    text-transform: uppercase;
    margin: 0;
    font-size: 1.1em;
}

.job-history-entry p {
    margin: 0;
    font-style: italic;
}

.job-history-entry ul {
    margin-top: 0;
}